@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Reset */
*{
    box-sizing: border-box;
}
html{ 
    font-size: 62.5%;  
}
body{
    font: 1.6rem sans-serif; 
    font-family: 'Roboto', sans-serif;
    margin: 0;  
}
h1,h2,h3,h4,p,ol,ul,figure,dd{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
h1,h2,h3,h4{
    font-weight: normal;
}
a{
    text-decoration: none;
}

header{
    background-color: #dee6e9;
    text-align: center;
}

.nav-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background-color: #efefef;
    height: 4rem;
}

.nav-menu a{
    color: #2d3436;
}

.nav-menu li{
    padding: 0.5rem;
}

.nav-menu li:hover{
    background-color: #c5c5c5;
    transition: .3s;
    transform: translateY(-.25rem);
}
section{
    background-color: #2d3436;
    height: 90vh;
}

section div{
    background-color: #FFF;
    position: relative;
    top: 15%;
    max-width: 80rem; 
    padding-bottom: 0.1rem;
    border-radius: 0.5rem;
    margin-left: auto;
    margin-right: auto;
}

section div ul{
    columns: 2;
    margin-right: 1rem;
}

section ul p{
    text-align: left;
    line-height: 2.2rem;
}

.pc-image img{
    width: -webkit-fill-available;
}

.pc-image{
    text-align: center;
    margin: 1rem;
}

.pc-description{
    padding-top: 3rem;
}

.pc-description h2{
    padding-bottom: 1.5rem;
}

.pc-description p{
    padding-bottom: 1.5rem;
}

.pc-details p{
    line-height: 2.5rem;
}

button{
    background-color: #d93d04;
    display: block;
    margin: auto 1rem 1rem auto;
    padding: 1rem;
    border-radius: 0.5rem;
    color: #FFF;
    cursor: pointer;
    border: none;
}

.material-symbols-outlined{
    vertical-align: middle;
}

footer{
    position: fixed;
    text-align: center;
    padding: 1rem;
    background-color: #FFF;
    bottom: 0;
    width: 100%;
}

@media screen and (max-width: 802px) {
    *{
        box-sizing: unset;
    }
    section div ul{
        columns: 1;
        margin-right: 1rem;
    }

    .nav-menu{
        display: block;
        padding: 0.5rem;
        background-color: #ffffff;
        height: 11rem;
    }
    .nav-menu li{
        padding: 0.5rem;
        text-align: left;
    }
    section{
        background-color: #2d3436;
        height: auto;
    }
    section div{
        border-radius: 0;
    }
    .pc-description{
        padding-top: 3rem;
        text-align: center;
    }
    .pc-description p{
        padding-bottom: 1.5rem;
        margin-left: 3rem;
    }
    .pc-details p{
        line-height: 2.5rem;
        margin-left: 3rem;
    }
    footer{
        position: relative;
        width: fit-content;
        bottom: 0;
    }
    button {
        margin: 2rem;
        margin-left: auto;
        margin-right: auto;
    }


}

@media screen and (min-width:820px) and (max-width:1180px) {
    section{
        height: 107rem;
    }
}

@media screen and (min-width:912px) and (max-width:1368px) {
    section{
        height: 128rem;
    }
}